@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
            <div class="card-header text-center pt-4">
                <h5>Login</h5>
            </div>
            <div class="card-body">
                <form role="form" method="POST" action="Home/Auth" class="needs-validation" id="formLogin" novalidate>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="Email" placeholder="Email" required>
                        <div class="invalid-feedback">
                            Please provide a valid email.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="Password" placeholder="Password" required>
                        <div class="invalid-feedback">
                            Password cannot be empty.
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="btn_login" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign In</button>
                    </div>
                    <p class="text-sm mt-3 mb-0">Did you forget your password? <a asp-area="" asp-controller="Home" asp-action="ForgotPassword" class="text-dark font-weight-bolder">Reset Now</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
