@{
    ViewData["Title"] = "Index";
    Layout = "_FinanceLayout";
}

<div class="card shadow-lg mx-4 card-profile-bottom">
    <div class="card-body p-3">
        <div class="row gx-4">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                    <img src="~/lib/img/team-1.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 id="DashName" class="mb-1">
                        Nama User
                    </h5>
                    <p id="DashJob" class="mb-0 font-weight-bold text-sm">
                        Employee
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

